{% extends 'trivia/layout.html' %}
{% block content %}

<h3 class="center-align blue">{{triv.question}}</h3>
<div class="card">
  <div class="card-action">
    <a class="waves-effect waves-light btn">Puntaje Total: {{ttlscore}}</a>
  </div>
  <div class="card-action">
    <a id="optn1" disabled="true" class="waves-effect waves-light btn" href="/processing/{{triv.option1|cut:" "}}-{{triv.id}}-{{ttlscore}}/">A) {{triv.option1}}</a>
  </div>
  <div class="card-action">
    <a id="optn2" disabled="true" class="waves-effect waves-light btn" href="/processing/{{triv.option2|cut:" "}}-{{triv.id}}-{{ttlscore}}/">B) {{triv.option2}}</a>
  </div>
  <div class="card-action">
    <a id="optn3" disabled="true" class="waves-effect waves-light btn" href="/processing/{{triv.option3|cut:" "}}-{{triv.id}}-{{ttlscore}}/">C) {{triv.option3}}</a>
  </div>
  <div class="card-action">
    <a id="optn4" disabled="true" class="waves-effect waves-light btn" href="/processing/{{triv.option4|cut:" "}}-{{triv.id}}-{{ttlscore}}/">D) {{triv.option4}}</a>
  </div>
  <div class="card-action">
    <a class="waves-effect waves-light btn">{{message}}</a>
    <a class="waves-effect waves-light btn">{{qscore}} puntos</a>

  </div>
</div>
<a href="/trivia" class="btn">Atras</a>
<a href="/trivia/details/{{id}}-{{ttlscore}}/" class="btn">Siguiente Pregunta</a>

{% endblock %}
